html(style="scroll-behavior: smooth;")
  head
    meta(content='width=device-width, initial-scale=1' name='viewport')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css')
    link(rel='stylesheet' href='/css/nav.css')
    link(rel='stylesheet' href='/css/dm.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js')
    title project
    #topnav.topnav
      a.active(href='/') Home
      a(href='/proj/about') About
      a(href='#members') Members
      a(href='#topic') Topic
      if (auth)
        a(href='/proj/logout') Log out
      else
        a(href='/proj/login') Log in
      a.icon(href='javascript:void(0);' onclick='func()')
        i#menu-icon.menu-icon.fa.fa-bars
      a.darkmode(href='javascript:void(0);' onclick='toggleDark()' title='Toggle theme')
        i#dm-icon.dm-icon.fa-regular.fa-moon.fa-sun
        p#dm-toggle-text.dm-toggle-text Toggle dark mode
    body
      .text
        h1#title(style='text-align: center;') An In-depth Review of the Animated Masterpiece "Nimona"
        .toc
          h2 Table of Contents
          ol(type='I')
            li
              a(href="#abstract") Abstract
            li
              a(href="#intro") Introduction
            li
              a(href="#meaning") Meaning of the Review Paper
            li
              a(href="#purpose") Purpose of the Review
            li
              a(href="#example") Example
        h2#abstract Abstract
        p This review will be talking about the animated film 
          strong Nimona 
          | that was released earlier this year (2023). This review will tackle how it is different from other animated movies.
        h2#intro Introduction
        .img-container
          img(src="https://m.media-amazon.com/images/M/MV5BYWQ2YzJhOGItNTMyOC00YzFmLWExZjEtOGFmMDVkMDdmOGFiXkEyXkFqcGdeQXVyMTUxNTU1NzEz._V1_FMjpg_UY1896_.jpg")
          p.a The film poster for Nimona (2023).
        p The film’s graphics and animation is unique as it gives off a 2-dimensional look yet it is well animated like a 3-dimensional, each character’s personality is well written and can be easily understood, yet does not take away the element of surprise. Nimona’s animation does not take away from the uniqueness of the art style.
        p The Animated movie is set on a sci-fantasy world influenced by the Middle Ages. It follows the story of a knight who was framed for a crime he did not commit and a kid who was the key factor in proving his innocence. The Movie give voice on the fact that history can be change due to one perspective and how society can be cruel to people who does not fit in.
        p Nimona centers around Friendships, Power dynamics, and the consequences of one’s actions. The Film tackle on those themes as the plot thickens, it was not fast paced and rushed, yet the plot does not drag on, it was always direct to the point and tugs on the audience heartstrings. 
        p Throughout the movie, you can see how the main character began to see what the institution thoroughly is without the rose-tinted glasses he was once wearing before, throughout the situations that he has gone through you can tell that the way he thinks was slowly being broaden but not in a way that he forgets his morals. The Main character was written in a way that he goes through development throughout the move but does not became overly different from who he originally was.
        p Though Nimona is a well animated film with a great plot and unique art style, the plot however, though unique and new, lacks in the perspective of Nimona, the kid, though the name of the movie is her name, the only backstory we get of Nimona is only a small portion, we did not get to see what she has been doing after the fight with glory, and how she faired with living inside the walls, with people who hates her true self, The Film “Nimona” Mostly focuses on the Knight and how unfair the society is to him.
        h2#meaning Meaning of the Review Paper
        p This review paper focuses on evaluating the animated film "Nimona" across various aspects, including its animation style, narrative themes, character development, and potential strengths and weaknesses.
        h2#purpose Purpose of The Review
        p This Review paper focuses on the critical analysis and evaluation of the animated movie “Nimona”. The paper aims to assess Animation and art style, explore the theme and story line. Focus on the main character’s development , and critically assess the narrative’s focus, pointing out a potential drawback regarding the depth of exploration into the character of Nimona.
        h2#example Example 
        p Simon Abrams, a New Yorker, and Freelance Film critic, has also made a  Review paper on “Nimona” that talks about its stylized animation as well as plot progressions.
        script(src='/js/nav.js')
        script(src='/js/script.js')
