doctype html
html
    head 
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js')
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css')
        script(src="https://cdn.jsdelivr.net/npm/party-js@latest/bundle/party.min.js")
        link(rel='stylesheet' href='/css/style.css')
        link(rel='stylesheet' href='/css/index.css')
    body
        .main-content#grad
            h1 hi
            p i'm cjhay, i'm trying to be a dev i guess?????
            .image 
                img.img-src
            p up to this day i still don't know what to add here lol 
                span#clickable so have a cat pic or something
            h1 my projects i guess (if you can call them that)
            ul.projs
                li
                    a(href="https://cjhay01.github.io/clicker") the potato farm
                    |  (lol i kinda forgot about this i might redo it if i have time)
                li 
                    a(href="/proj") something for school idk
        script(type='text/javascript' src='/js/slider.js')
        script(type='text/javascript').
            party.resolvableShapes["cbc"] = `<img src="https://static.wikia.nocookie.net/cookierun/images/1/19/Cherry_Blossom_Cookie.png/"/>`
        footer.footer 
            img#cbc.cbc(src="https://static.wikia.nocookie.net/cookierun/images/1/19/Cherry_Blossom_Cookie.png/" onclick="g()")
            p find me through here (why would you)
            ul.socials
                li
                    a(href="https://youtube.com/@cjhay01") 
                        i#yt-icon.social-icons.yt-icon.fa-brands.fa-youtube
                li
                    a(href="https://twitter.com/cjhay0301") 
                        i#yt-icon.social-icons.yt-icon.fa-brands.fa-twitter
                li
                    a(href="https://github.com/cjhay01") 
                        i#yt-icon.social-icons.yt-icon.fa-brands.fa-github
            